@import "tailwindcss";

:root {
  --background: #fffef3;
  --foreground: #4a3f2f;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-thai), "Noto Sans Thai", sans-serif;
}
