@import "tailwindcss";

:root {
  --background: #fefdf8;
  --foreground: #44382b;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-thai), "Noto Sans Thai", sans-serif;
}
